@import "abstracts/variables";

.cards {
  ul {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    li {
      list-style: none;
    }

    @media (max-width: $sm) {
      grid-gap: 1rem;
      grid-template-columns: none;
    }
  }
}
