h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: $color-dim;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 2rem;
  font-weight: 200;
  color: $color-dim;
}

p {
  font-size: 1.6rem;
}
