// COLORS
$color-blue: rgba(blue, 0.5);
$color-red: rgba(red, 0.5);
$color-green: rgba(green, 0.5);
$color-white: #ffffff;
$color-light: #fafafa;
$color-dim: #67696b;
$color-dark: #2d3848;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "K2D", sans-serif;

// BREAK POINTS
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// BOX SHADOW
$card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
