@import "abstracts/variables";

.country-selector {
  text-align: right;
  padding: 2rem 0;

  select {
    width: 30rem;
    font-size: 2rem;
  }

  @media only screen and (max-width: $sm) {
    text-align: center;

    select {
      width: 100%;
      font-size: 1.6rem;
    }
  }
}
